<%- include("partials/header"); -%>
<div class="main">
  <div class="mainBody">
    <div class="mainHeading">
      <h2 class="text-center text welcome">Welcome to</h2>
      <h1 class=" text-center text mb-4">TSF BANK</h1>
      <h2 class="text-center text"> Transfer money easily</h2>
    </div>
    
    <div class="row">
      <div class="col-sm-3 ml-4 ">
        <div class="card card-width card-bg ">

          <div class="card-body">
            <h5 class="card-title">Transaction History</h5>
            <p class="card-text">You can see all the transactions history here.</p>
            <a href="/transactions" class="btn btn-bg text-center">Transactions History</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ml-4 ">
      </div>
      <div class="col-sm-3 ">
        <div class="card card-bg card-width">
          <div class="card-body">
            <h5 class="card-title">All Accounts</h5>
            <p class="card-text ">List of all the accounts</p>
            <a href="/allAccount" class="btn btn-bg">Accounts</a>
          </div>
        </div>
      </div>
     </div> 
    
        
      </div>
    </div>
  </div>
</div>




