<%- include("partials/header"); -%>


<div class="row ">
    <div class="col-sm-5 px-md-5 mt-4  ">
        <div>
            <img src="https://www.shikharclasses.in/wp-content/uploads/2020/04/PAYMENT-SUCCESS.png" alt="successfulpayment">

        </div>
     
    </div>
    <div class="col-sm-2 px-md-5 mt-4  ">
</div>
    <div class="col-sm-5 px-md-5 mt-4 ">
        <div class="card card-width card-bg ">
            <div class="card-body">
              <h5 class="card-title">Transfer Successful!</h5>
              <p class="card-text">You can see all the transactions history here.</p>
              <a href="/transactions" class="btn btn-info text-center">Transactions History</a>
            </div>
          </div>
          <div class="card  card-width mt-4 card-bg">
            <div class="card-body">
              <h5 class="card-title">All Accounts</h5>
              <p class="card-text ">List of all the accounts and choose you want to transfer to</p>
              <a href="/allAccount" class="btn btn-info">Accounts</a>
            </div>
          </div>
    </div>

</div>
